.clock-box {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 2px solid #000;
    box-shadow:2px 2px #000;
  }
  
  .clock-box > * {
    margin-right: 10px;
  }
  .clock-box .seconds{
    margin-right: 0px;
  }
  
  .colon {
    color: #000;
  }

  @media screen and (max-width: 576px) {
    .clock-box {
      font-size: 2rem;
    }
  }
  
  @media (min-width: 576px) and (max-width: 992px) {
    .clock-box {
      font-size: 2rem;
    }
  }
  