.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50rem;
    height: 30rem;
    background-color: var(--container-color);
    padding: 5rem;
    border-radius: var(--border);
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  
  .greeting-intro {
    display: flex;
    justify-content: center;
  }

  .space {
    margin-right: 0.8rem;
  }
  
  .greeting-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .greeting-text {
    margin-bottom: 0rem;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
  }
  
  .login-form input {
    border-bottom: 2px solid var(--purple);
    font-size: 2vw;
    text-align: center;
    padding-bottom: 0.3rem;
    color: #000;
    background-color: var(--container-color);
    border-bottom: 1px solid #000;
  }

 
  