.mosite {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.5rem;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
  }
  
  .box {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 1.5rem;
    margin-top: 12px;
  }
  
  .greeting {
    height: 9rem;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--box-padding);
  }
  
  .clock {
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .greeting-text,
  .calendar {
    color: var(--text-color);
    font-size: var(--biggest-font-size);
    font-weight: var(--font-semi-bold);
  }
  
  .mini-box {
    display: flex;
    justify-content: space-between;
  }
  
  .to-do {
    width: auto;
    height: 43.5rem;
    padding: 40px 30px;
    margin-top: 10px;
  }
  
  .greeting,
  .clock,
  .weather,
  .weather-list,
  .quote,
  .to-do {
    color:#000;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }
  
  .weather,
  .quote,
  .weather-list {
    height: 22.5rem;
    width: 18em;
  }
  
  .footer {
    position: absolute;
    bottom: 20px;
    right: 45%;
    color: var(--container-color);
    font-size: var(--smaller-font-size);
  }
  
  @media screen and (max-width: 576px) {
    .mosite {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      height: 100vh;
      width: 100vw;
      padding: 1rem;
      padding-top: 2rem;
    }
    .box {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
    }
  
    .greeting-text,
    .calendar {
      color: var(--text-color);
      font-size: var(--h1-font-size);
      font-weight: var(--font-semi-bold);
    }
  
    .greeting {
      height: 9rem;
      width: 29rem;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: var(--box-padding);
    }
  
    .clock {
      height: 9rem;
      width: 29rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 10px 10px 5.5rem;
    }
  
    .mini-box {
      display: none;
    }
  
    .to-do {
      width: 29rem;
      height: 40rem;
      padding: 40px 30px;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 992px) {
    .mosite {
      display: grid;
      grid-template-columns: 2fr 1fr;
      position: relative;
      height: 100vh;
      width: 100vw;
      padding: 1rem;
    }
  
    .box {
      display: grid;
      grid-template-rows: 4fr 6fr;
      height: 85%;
    }
  
    .greeting {
      height: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: var(--box-padding);
    }
  
    .clock {
      height: 11rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 10px 10px 7rem;
    }
  
    .to-do {
      width: auto;
      height: 45rem;
      padding: 40px 30px;
      margin-top: 15px;
    }
  
    .weather,
    .quote {
      height: 23rem;
      width: 17em;
    }
  }
  
  @media screen and (min-width: 1441px) {
    .mosite {
      display: grid;
      grid-template-columns: 2fr 1fr;
      position: relative;
      height: 100vh;
      width: 100vw;
      padding: 1rem;
    }
  
    .box {
      display: grid;
      grid-template-rows: 4fr 6fr;
      margin-top: 12px;
      height: 85%;
    }
  
    .greeting {
      height: 11rem;
      display: flex;
      width: auto;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: var(--box-padding);
    }
  
    .clock {
      height: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  
    .to-do {
      width: auto;
      height: 51rem;
      padding: 40px 30px;
      margin-top: 15px;
    }
  
    .weather,
    .quote,
    .weather-list {
      height: 26rem;
      width: 22em;
    }
  }
  