@import "reset.css";
@import "greeting.css";
@import "log.css";
@import "random.css";
@import "todolist.css";
@import "clock.css";

body{
    height: 100vh;
    width: 100vw;
    column-gap: 1.5rem;
    color: #fff;
    background-color: #dfd5ec;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}

/* .box-warp {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.5rem;
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
  } */
  
  .box {
    display: grid;
    grid-template-rows: 1fr;
    row-gap: 1.5rem;
    margin-top: 12px;
  }
  
  .greeting {
    height: 9rem;
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: var(--box-padding);
  }
  

  
  .left-box {
    display: flex;
    justify-content: space-between;
  }
  
  .to-do {
    width: auto;
    height: 35rem;
    padding: 40px 30px;
    margin-top: 10px;
  }
  
  .greeting,
  .clock,
  .weather,
  .weather-list,
  .random,
  .to-do {
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  }
  
  .weather,
  .random,
  .weather-list {
    height: 22.5rem;
    width: 18em;
  }
  
  .footer {
    position: absolute;
    bottom: 20px;
    right: 45%;
    color: var(--container-color);
    font-size: var(--smaller-font-size);
  }
  
  @media screen and (max-width: 576px) {
    .box-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      height: 100vh;
      width: 100vw;
      padding: 1rem;
      padding-top: 2rem;
    }
    .box {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
    }
 
  
    .greeting {
      height: 9rem;
      width: 29rem;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: var(--box-padding);
    }
  

  
    .left-box {
      display: none;
    }
  
    .to-do {
      width: 29rem;
      height: 40rem;
      padding: 40px 30px;
      margin-top: 10px;
    }
  }
  
  @media (min-width: 576px) and (max-width: 992px) {
    .box-wrap {
      display: grid;
      grid-template-columns: 2fr 1fr;
      position: relative;
      height: 100vh;
      width: 100vw;
      padding: 1rem;
    }
  
    .box {
      display: grid;
      grid-template-rows: 4fr 6fr;
      height: 85%;
    }
  
    .greeting {
      height: 11rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: var(--box-padding);
    }
  
  
    .to-do {
      width: auto;
      height: 37rem;
      padding: 40px 30px;
      margin-top: 15px;
    }
  
    .weather,
    .quote {
      height: 23rem;
      width: 17em;
    }
  }
  
  @media screen and (min-width: 1441px) {
    .box-wrap {
      display: grid;
      grid-template-columns: 2fr 1fr;
      position: relative;
      height: 100vh;
      width: 100vw;
      padding: 1rem;
    }
  
    .box {
      display: grid;
      grid-template-rows: 4fr 6fr;
      margin-top: 12px;
      height: 85%;
    }
  
    .greeting {
      height: 11rem;
      display: flex;
      width: auto;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      padding: var(--box-padding);
    }
  
    .clock {
      height: 11rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
    }
  
    .to-do {
      width: auto;
      height: 51rem;
      padding: 40px 30px;
      margin-top: 15px;
    }
  
    .weather,
    .quote,
    .weather-list {
      height: 26rem;
      width: 22em;
    }
  }
  
/* popup */
#popup-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  #popup-wrap.hide {
    display: none;
  }
  
  #popup-wrap.has-filter {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
  
  #popup {
    padding: 20px;
    background-color: var(--container-color);
    border-radius: var(--border);
    width: 25%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    line-height: 30px;
    color: var(--text-color);
  }
  
  .popup-btn {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  
  .popup-btn button {
    border-radius: 10px;
    padding: 5px 20px;
    font-size: var(--h3-size);
    color: var(--text-color);
    background-color: var(--popup);
  }
  
  @media screen and (max-width: 800px) {
    #popup-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  
    #popup-wrap.hide {
      display: none;
    }
  
    #popup-wrap.has-filter {
      backdrop-filter: blur(4px);
      -webkit-backdrop-filter: blur(4px);
    }
  
    #popup {
      padding: 20px;
      background-color: var(--container-color);
      border-radius: var(--border);
      width: 40%;
      height: 22%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      line-height: 30px;
      color: var(--text-color);
      font-size: 15px;
    }
  
    .popup-btn {
      width: 20%;
      display: flex;
      justify-content: space-around;
    }
  
    .popup-btn button {
      border-radius: 10px;
      padding: 5px 20px;
      font-size: var(--h3-size);
      color: var(--text-color);
      background-color: var(--popup);
    }
  }
  